
.album-images {
    .MuiImageListItem-root {
        .actionBtns {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50% );
            opacity: 0;
        }
        &:hover .actionBtns {
            opacity: 1;
        }
    }
}
.change_display_photo {
	display: flex !important;
	flex-wrap: wrap;
    gap: unset !important;
}
.change_display_photo li {
	width: 25%;
	margin: 0 !important;
}

@media only screen and (max-width: 1024px) {
    .change_display_photo li {
        width: 50%;
    }
  }

  @media only screen and (max-width: 767px) {
    .change_display_photo li {
        width: 100%;
    }
  }